@import "../../../global.scss";
.carousel {
  width: 100%;
  height: 450px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  // @include mobile {
  //   margin-left: 15px;
  //   margin-right: 15px;
  //   margin-bottom: 230px;
  // }
}

.content-carousel {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.slider {
  display: grid;
  height: 450px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". . ."
    "texts . ."
    ". . btns";
  @include mobile {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      ". . "
      ". . "
      "texts texts "
      "texts texts "
      "btns  btns";
  }
}

.text {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-area: texts;
 
  @include mobile {
    grid-row: 3 / span 2;
    // background-color: red;
    height: 300px;
  }
}

.content-text {
  width: 400px;
  margin-left: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: space-evenly;
  align-items: stretch;
  @include mobile {
    margin-left: 15px;
    width: 300px;
  }
}

.container-title {
  padding: 15px 0;
  font-size: 2em;
  @include mobile {
    font-size: 1em;
  }
}

.container-text {
  padding: 25px 0;
  @include mobile {
    height: 200px;
    padding: 10px 0;
  }
}

.title {
  font-weight: bold;
  color: white;
}

.resume {
  color: white;
  @include mobile {
    max-width: 100%;
  }
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: auto;
  margin-top: 15px;
  button {
    height: 40px;
    width: 175px;
    margin-right: 8px;
    border: 0;
    background-color: transparent;
    border: 1px solid white;
    border-color: white;
    color: white;
    font-weight: bold;
    &.active2 {
      background-color: #fde531;
      border: 1px solid #fde531;
      color: black;
      font-weight: bold;
    }
  }
}

.change-img {
  grid-area: btns;
  @include mobile {
    grid-row: 5 / span 1;
    // background-color: red;
  }
}
.container-switch {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: row;
  div {
    display: flex;
    justify-content: stretch;
    align-items: center;
    cursor: pointer;
    padding: 0.6em;
    border-radius: 50%;
    &.active3 {
      border: 1px solid #fde531;
    }
    div {
      padding: 0.3em;
      border-radius: 50%;
      background-color: white;
      &.active4 {
        background-color: #fde531;
      }
    }
  }
}
.container-btns {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 0.6em;
  border-radius: 50%;
}
